
.form-container {
    margin-top: 50px;
    max-width: 350px;
}
form {
    display: flex;
    flex-direction: column;
}
.error {
    background-color: #d84f4f;
    padding: 10px;
}
.success {
    background-color: #73cc73;
    padding: 10px;
}
.mat-form-field-empty.mat-form-field-label {
    color: green;
}
.mat-toolbar {
    max-width: 17.5em;
    color: "primary";
    animation-name: hide;
    animation-duration: 1s, 0s;
}
@keyframes hide { 
    from {
        display: visible;
    }
    to {
        display: none;
    }
}

