
<mat-toolbar *ngIf="successMsg" color="primary">{{ successMsg }}</mat-toolbar>
<mat-toolbar *ngIf="errorMsg" color="warn">{{ errorMsg }}</mat-toolbar>

<h1>choose your feel</h1>

<div class="form-container">
    <form (submit)="createMood()">        
        <mat-form-field appearance="fill">
            <mat-label>Mood</mat-label>
            <select [(ngModel)]="mood" name="mood" placeholder="Choose your Feel" matNativeControl required>
                    <option value="gucci">Gucci</option>
                    <option value="okay">Okay</option>
                    <option value="blah">Blah</option>
                    <option value="Ugh, terrible">Ugh, Terrible</option>
            </select>
          </mat-form-field>
        <mat-form-field>
            <input [(ngModel)]="details" name="details" matInput placeholder="Details">
        </mat-form-field> 
        <button mat-raised-button color="primary">Log Them Feels</button>
    </form>
</div>




