
.form-container {
    margin-top: 50px;
    width: 25em;
    padding-top: 2.5em;
    position: fixed;
    top: 23%;
}

h1 {
    font-family: 'Permanent Marker';
    font-size: 42px;
    position: fixed;
    top: 16%;
}

form {
    display: flex;
    flex-direction: column;
}
.error {
    background-color: #d84f4f;
    padding: 10px;
}
.success {
    background-color: #73cc73;
    padding: 10px;
}
.mat-form-field-empty.mat-form-field-label {
    color: green;
}
.mat-toolbar {
    max-width: 17.5em;
    color: "primary";
    position: fixed;
    top: 23%;

}

.mat-raised-button {
    font-family: 'Permanent Marker';
    font-stretch: expanded;
    font-size: 20px;
}




