<head>
  <link rel="stylesheet" href="app.component.css">
</head>

<div class="logo">
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
  </style> 
  <h1>FEELS</h1>
  <h2>mood tracking</h2>
   </div>


<button mat-button [matMenuTriggerFor]="menu">MENU</button>
<mat-menu #menu="matMenu">
  <a class="link" routerLink="/"><button mat-menu-item>Add Mood Entry</button></a>
  <a class="link" routerLink="/mood-log"><button mat-menu-item>Mood Report</button></a>
  <a class="link" routerLink="/mood-visualizer"><button mat-menu-item>Mood Stats</button></a>
</mat-menu>

<div class="container">
  <div class="title">
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
    </style>
     
  </div>
  <router-outlet></router-outlet>
</div>
