
.container {
    width: 90%;
    margin: 50px auto 0 auto;
}
.link {
    text-decoration: none;
}

.title {
    font-size: x-large; 
    padding-bottom: 2rem; 
}
.footer1 {
padding-top: 5rem;
font-size: 72px;
padding-left: 6rem;
}
.footer2 {
font-size: 31px;
padding-left: 6rem;
padding-top: 1rem;
}

