<head>
  <link rel="stylesheet" href="app.component.css">
</head>

<button mat-button [matMenuTriggerFor]="menu">FEELS</button>
<mat-menu #menu="matMenu">
  <a class="link" routerLink="/"><button mat-menu-item>Add Mood Entry</button></a>
  <a class="link" routerLink="/mood-log"><button mat-menu-item>Mood Report</button></a>
  <a class="link" routerLink="/mood-visualizer"><button mat-menu-item>Mood Stats</button></a>

</mat-menu>

<div class="container">
  <div class="title">
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
    </style>
    Choose Your Mood
  </div>
  <router-outlet></router-outlet>
</div>

<div class="footer1">
<style>
  @import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
</style>
FEELS
</div>
<div class="footer2">
  <style>
    
  </style>
  mood tracking
  </div>